
.App {
  text-align: center;
  background-color: rgb(20, 18, 18);
  min-height: 100vh;
}


.App h1 {
  color: rgb(0, 252, 197);
  padding: 10% 5%;
}

.map-mail-box {
  display: flex;
  padding: 5%;
  width: 100vw;
  justify-content: space-around;
}
.form-button  {
  width: 30%;
}
.map-mail-box .mail-box {
  width: 40%;
  margin-bottom: 25px;
  /* text-align: left; */
  /* align-items: center; */
}

.mail-box h3 {
  color:rgb(0, 252, 197);
  padding-bottom: 5px;
  margin-top: 20px;
}

.iframe-box {
  width: 60%;
  padding: 20px 10px;
}

@media (max-width: 700px) {
  
  .map-mail-box {
    display: flex;
    padding: 5%;
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
  }

  .map-mail-box .mail-box {
    width: 100%;
    /* text-align: left; */
    /* align-items: center; */
  }
  
  .mail-box h3 {
    color:rgb(0, 252, 197);
    padding-bottom: 5px;
    margin-top: 20px;
  }

  .iframe-box {
    width: 100%;
    padding: 100% 10px;
  }

}


